#container {
    color: white; 
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#arrow {
    position: absolute;
    width: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10%;
}

.aboutUs{
    border: solid red 1px;
    color: black;
}

.aboutUsText {
    color: black;
    position: relative;
    top: 0;
}

.newsText {
    color: black;
    position: relative;
    top: 0;
}

.corporateText {
    color: black;
    position: relative;
    top: 0;
}


/* up to tablet */
@media (max-width: 900px) {

    #container {
        margin-top: 24%;
        
        /* display: flex; - LEANNE CODE: already have this on the container above - dont need it twice */
        /* flex-direction: column; */
        /* height: 30vh; */
        /* background-size: 100% auto; */
        
        /* LEANNE CODE: 
        Maybe we could set this as an image inside the container instead of a BG image. It will be easier to make responsive. */
        background-size: 100% auto;
        background-position: center;
        height: 40vh;
        
    }

    .icedCoffeeCont {
        display: flex;
        flex-direction: column;
    }

    #icedCoffee {
        position: relative;
        /* height: 35%; */
        width: 40%;
        bottom: 40px;
    }

    .icedCoffeeText {
        text-align: center;
    }

    

}


