#heading {    
    /* LEANNE CODE:
    This pushes your stuff off the edge of the viewport */
    /* top: 20%;
    left: 10%; */
    position: absolute;
    top: 65%;
    right: 5%;
    display: inline-block;
}

.headingText {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    
    /* LEANNE CODE: */
}

.icedCoffeeText {
    position: relative;
    font-size: 170%;
    width: 130%;
    left: 100%;
}

.icedCoffeeText h1{
    padding: 5%;
}

/* up  to tablet */
@media (max-width: 900px) {
    
    #heading {
        /* LEANNE CODE: */
        top: 45%;
    }
    
    .headingText {
        /* LEANNE CODE: */
        font-size: 0.8em;
    }
    
    
    
    
    
    
    
    .hotCoffeeText {
        right: 0%;
        width: 100%;
        text-align: center;
    }

    .hotCoffeeText h1 {
        font-size: 170%;
    }

    .hotCoffeeText h4 {
        font-size: 80%;
    }

    .icedCoffeeText {
        left: 0%;
        right: 0%;
        width: 100%;
    }

    #icedCoffee {
        padding-top: 0%;
        flex-direction: column
    }

    .icedCoffeeText h1{
        font-size: 150%;
    }

    .icedCoffeeText h4{
        font-weight: 400;
        font-size: 100%;
    }
}

/* up to mobile */
@media (max-width: 600px){
    
    #heading {
        /* LEANNE CODE: */
        top: 42%;
    }
}



