
#heading
{
    position: relative;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.topContainer #heading{
    top: 50%;
    text-align: right;
    margin-right: 10%;
}







/* up  to tablet */
@media (max-width: 900px) {
    
    #heading {
        /* LEANNE CODE: */
        top: 45%;
    }
    
    .headingText {
        /* LEANNE CODE: */
        font-size: 0.8em;
    }
    
    .hotCoffeeText {
        right: 0%;
        width: 100%;
        text-align: center;
    }

    .hotCoffeeText h1 {
        font-size: 170%;
    }

    .hotCoffeeText h4 {
        font-size: 80%;
    }

    .icedCoffeeText {
        left: 0%;
        right: 0%;
        width: 100%;
    }

    #icedCoffee {
        padding-top: 0%;
        flex-direction: column
    }

    .icedCoffeeText h1{
        font-size: 150%;
    }

    .icedCoffeeText h4{
        font-weight: 400;
        font-size: 100%;
    }
}

/* up to mobile */
@media (max-width: 600px){
    
    #heading {
        /* LEANNE CODE: */
        top: 42%;
    }
}



