#headerWrap {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1;
    
    /* LEANNE CODE: */
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 10%;
    max-width: 200px;
    min-width: 100px;
}

#header {
    display: flex;
    flex-direction: row;
    height: 5%;
    text-align: center;
    padding: 10px 16px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.8px;
}

#offerCode {
    width: 100%;
}

#storeLocator{
    background: #057453;
    width: 20%;
}

#header a {
    text-decoration: none;
    color: #ff4e01;
}

#header a:hover {
    color: black;
    transition:all ease 0.5s;
}

/* up to tablet */
@media (max-width: 900px) {
    
    #logo {
        position: absolute;
        left: auto;
        right: 2%;
        padding: 1%;
        min-width: 75px;
        max-width: 75px;
        z-index: 2;
        
        /* LEANNE CODE: */
        top: 68px;
    }
}















