#navbar {
    /* border: solid 1px red; */
    width: 100%;
    padding: 25px 0;
    background: #0E141D;
    color: white;
    z-index: 1;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style: none;
    padding-left: 30%;
} 

#navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    transition:all ease 0.5s;
}
    



#navbar a:hover {
    color: #ff4e01;
}


#logo {
    position: absolute;
    top : 10%;
    left : 2%;
    width: 10% ;
    max-width: 200px;
    min-width: 100px;
}

.burgerIcon {
    display:none;
}

@media (max-width: 600px){
    #navbar{
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100vw;

    }

    .burgerIcon {
        position: relative;
        display: block;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 0;
        left: 26px;
        top: 0px;
        background: #0E141D;
    }

    .burgerIcon .line,
    .burgerIcon .line:after,
    .burgerIcon .line:before{
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        background: white;
        transition: ease 0.5s;
    }

    .burgerIcon .line:after{
        content:'';
        top: -14px;
    }

    .burgerIcon .line:before{
        content:'';
        top: 12px;
    }

   

    .active .burgerIcon .line:after {
        transform: translateY(12px)
    }

    .active .burgerIcon .line:before {
        transform: translateY(-14px)
    }


    #navbar ul {
        display: none;
        position: relative;
        flex-direction: column;
        width:100%;
        margin-top: 10%;
        right: 5%;
        padding: 0;

    }

    .navbar ul {
        display: none;
    }

    .active ul {

        display: block !important;
    }

    .navbar li {
        flex-direction: column;
        text-align: center;
        padding: 5%;
    }

    #logo {
        position: absolute;
        left: auto;
        right: 2%;
        top: 140%;
        padding: 1%;
        min-width: 75px;
        max-width: 75px;
        z-index: 2;
    }


    



}

