* {
    font-family: 'Barlow Condensed', sans-serif;
    
    /* LEANNE CODE: */
    box-sizing: border-box;
}

.App {
    /* LEANNE CODE:
    Shouldn't need this now as nothing overflows the viewport :) */
    
    /* overflow: hidden; */
}

.greenText {
    color: #057453
}


